/*----------------------------*\
	Aside
\*----------------------------*/

#aside .aside {
  margin-bottom: 30px;
}

#aside .aside:last-child {
  margin-bottom: 0px;
}

.aside .aside-title {
  position: relative;
  border-bottom: 1px solid #DADADA;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 24px;
  font-size: 18px;
}

.aside .aside-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #F8694A;
}

/*-- Filter list --*/

.filter-list {
  margin-bottom: 15px;
}

.filter-list>li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 6px;
}

.filter-list>li:last-child {
  margin-right: 0px;
}

.filter-list li a {
  position: relative;
  padding: 0px 5px 0px 20px;
}

.filter-list li a:before {
  content: "\f00d";
  font-family: FontAwesome;
  position: absolute;
  left: 4px;
  top: 5px;
  line-height: 12px;
  font-size: 9px;
  color: #FFF;
  background: #30323A;
  width: 12px;
  text-align: center;
  border-radius: 50%;
  height: 12px;
}

/*-- Price Filter --*/

#price-slider {
  margin: 60px 0px 50px;
}

.noUi-target {
  background-color: #DADADA;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

.noUi-connect {
  background-color: #F8694A;
}

.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  left: -6px;
  top: -4px;
  border: none;
  background: #30323A;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.noUi-tooltip {
  border: none;
  color: #FFF;
  background: #30323A;
  border-radius: 0px;
}

/*----------------------------*\
	Store
\*----------------------------*/

#store {
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px solid #DADADA;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DADADA;
}

/*-- store filter --*/

.row-filter {
  display: inline-block;
  vertical-align: top;
}

.row-filter>a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background-color: #30323A;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.row-filter>a:hover {
  opacity: 0.9;
}

.row-filter>a.active {
  background-color: #F8694A;
}

.sort-filter {
  display: inline-block;
  margin-left: 15px;
}

.sort-filter select.input {
  width: 120px;
}

.page-filter select.input {
  width: 90px;
}

.page-filter {
  display: inline-block;
}

.store-pages {
  display: inline-block;
  margin-left: 15px;
}

.store-pages li {
  display: inline-block;
  margin-right: 6px;
}

.store-pages li a {
  display: block;
  min-width: 10px;
  text-align: center;
}

.store-pages li.active {
  color: #F8694A;
}